/* Generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}

body {

    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
}

/* header */
#banner {
    background-color: white;
    height: 80px;
}
#logo {
    margin: 10px 5px 0px 20px ;
    vertical-align: middle;
    
}
#logotext {
    display: inline-block;
    font-style: Medium 500;
    height: 20px;
    vertical-align: middle;
}

/* main */
/* bottoni inziali */
#box {
    width: 50%;
    margin: 30px auto;
    background-color: white;
    height: 600px;
    border-radius: 10px;
}

#bottoni{
    margin: 0px 0px 0px 30px;
    padding: 15px;

}

.button{
   
    size: 10px;
    padding: 8px; 
    font: bold 12px Arial, Helvetica, sans-serif; 
    color: rgb(165, 162, 162);
    border: rgb(92, 91, 91);
    border-radius: 5px;
    
}

.left {
    
    background-color: rgb(6, 160, 250);
    border: solid 1px #0076a3;
    color: #fff;
    
}

/* main */
/* lista */
.task {
    margin: 25px 0px 0px 30px;
}
.lista {
    margin-left: 30px;
}

.lista .blu {
    background-color: rgb(0, 162, 255);
    display: inline-block;
    width: 60px;
    height: 25px;
    font-size: 10px;
    font: bold 10px Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    color: white;
    border-radius: 10px;

}

.lista .viola {
    background-color: rgb(107, 81, 167);
    display: inline-block;
    width: 60px;
    height: 25px;
    font-size: 10px;
    font: bold 10px Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    color: white;
    border-radius: 10px;

}

.lista .verde {
    background-color: rgb(111, 230, 184);
    display: inline-block;
    width: 60px;
    height: 25px;
    font-size: 10px;
    font: bold 10px Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    color: white;
    border-radius: 10px;

}

.lista .arancione {
    background-color: rgb(251, 162, 61);
    display: inline-block;
    width: 60px;
    height: 25px;
    font-size: 10px;
    font: bold 10px Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    color: white;
    border-radius: 10px;

}

.lista .rosa {
    background-color: rgb(243, 85, 209);
    display: inline-block;
    width: 60px;
    height: 25px;
    font-size: 10px;
    font: bold 10px Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    color: white;
    border-radius: 10px;

}

.lista .verde1 {
    background-color: rgb(112, 204, 75);
    display: inline-block;
    width: 60px;
    height: 25px;
    font-size: 10px;
    font: bold 10px Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    color: white;
    border-radius: 10px;

}

/* check  */
.check {
    size: 5px;
    color: rgb(92, 149, 7);
    border: greenyellow solid 1px;
    border-radius: 50px;
    margin-right: 10px;
    padding: 5px;
}

.cross {
    color: rgb(214, 40, 24);
    border: rgb(214, 40, 24) solid 1px;
    border-radius: 50px;
    margin-right: 10px;
    padding: 5px;
}

